{%extends "header.html"%}

{%block body%}


<div class="container-fluid">
  
	   <form class="form-block" action="/solved_sud/" method="post">
      <div class="row">
       <div class="col-xs-12 col-lg-4"></div>
      <div class="col-xs-12 col-lg-4">
      <table >
        <caption>TYPE THE NUMBERS AT THERE PLACES(KEEP THE REST BOX AS IT IS.)</caption>
        <colgroup><col><col><col>
        <colgroup><col><col><col>
        <colgroup><col><col><col>
        <tbody>
         <tr> <td id="00"><input type="text" value="0" name="num"> <td id="01"><input type="text" name="num"  value="0">  <td id="02"><input type="text" name="num" value="0"> <td id="03"><input type="text" name="num" value="0"> <td id="04"><input type="text" name="num" value="0">  <td id="05"><input type="text" name="num"value="0"> <td id="06"><input type="text" name="num"value="0"> <td id="07"><input type="text" name="num"value="0">  <td id="08"><input type="text" name="num"value="0">

         <tr> <td id="10"><input type="text" name="num"value="0"> <td id="11"><input type="text" name="num"value="0">  <td id="12"><input type="text" name="num"value="0"> <td id="13"><input type="text" name="num"value="0"> <td id="14"><input type="text" name="num"value="0">  <td id="15"><input type="text" name="num"value="0"> <td id="16"><input type="text" name="num"value="0"> <td id="17"><input type="text" name="num"value="0">  <td id="18"><input type="text" name="num"value="0">

         <tr> <td id="20"><input type="text" name="num"value="0"> <td id="21" ><input type="text" name="num"value="0">  <td id="22"><input type="text" name="num"value="0"> <td id="23" ><input type="text" name="num" value="0"> <td id="24"><input type="text" name="num"value="0">  <td id="25"><input type="text" name="num"value="0"> <td id="26"><input type="text" name="num"value="0"> <td id="27"><input type="text" name="num"value="0">  <td id="28"><input type="text" name="num"value="0">

        <tbody>
         <tr> <td id="30" ><input type="text" name="num" value="0"> <td id="31"><input type="text" name="num"value="0">  <td id="32"><input type="text" name="num"value="0"> <td id="33"><input type="text" name="num"value="0"> <td id="34"><input type="text" name="num"value="0">  <td id="35"><input type="text" name="num"value="0"> <td id="36"><input type="text" name="num"value="0"> <td id="37"><input type="text" name="num"value="0">  <td id="38"><input type="text" name="num"value="0">
         <tr> <td id="40"><input type="text" name="num"value="0"> <td id="41"><input type="text" name="num"value="0">  <td id="42"><input type="text" name="num"value="0"> <td id="43"><input type="text" name="num"value="0"> <td id="44"><input type="text" name="num"value="0">  <td id="45"><input type="text" name="num"value="0"> <td id="46"><input type="text" name="num"value="0"> <td id="47"><input type="text" name="num"value="0">  <td id="48"><input type="text" name="num"value="0">
         <tr> <td id="50"><input type="text" name="num"value="0"> <td id="51"><input type="text" name="num" value="0">  <td id="52"><input type="text" name="num"value="0"> <td id="53"><input type="text" name="num"value="0"> <td id="54"><input type="text" name="num"value="0">  <td id="55"><input type="text" name="num"value="0"> <td id="56"><input type="text" name="num"value="0"> <td id="57"><input type="text" name="num"value="0">  <td id="58"><input type="text" name="num"value="0">
        <tbody>
         <tr> <td id="60"><input type="text" name="num" value="0"> <td id="61"><input type="text" name="num"value="0">  <td id="62"><input type="text" name="num"value="0"> <td id="63"><input type="text" name="num"value="0"> <td id="64"><input type="text" name="num"value="0">  <td id="65"><input type="text" name="num"value="0"> <td id="66"><input type="text" name="num"value="0"> <td id="67"><input type="text" name="num"value="0">  <td id="68"><input type="text" name="num"value="0">
         <tr> <td id="70"><input type="text" name="num"value="0"> <td id="71"><input type="text" name="num"value="0">  <td id="72"><input type="text" name="num"value="0"> <td id="73"><input type="text" name="num"value="0"> <td id="74"><input type="text" name="num"value="0">  <td id="75"><input type="text" name="num"value="0"> <td id="76"><input type="text" name="num"value="0"> <td id="77"><input type="text" name="num"value="0">  <td id="78"><input type="text" name="num"value="0">
         <tr> <td id="80"><input type="text" name="num"value="0"> <td id="81"><input type="text" name="num"value="0">  <td id="82"><input type="text" name="num"value="0"> <td id="83"><input type="text" name="num"value="0"> <td id="84"><input type="text" name="num"value="0">  <td id="85"><input type="text" name="num"value="0"> <td id="86"><input type="text" name="num"value="0"> <td id="87"><input type="text" name="num"value="0">  <td id="88"><input type="text" name="num"value="0">
      </table>
    </div>
    <div class="col-xs-12 col-lg-4"></div>
  </div>

    <div class="row but">
    <div class="col-xs-12 col-lg-4"></div>
      <div class="col-xs-12 col-lg-4 ">
      	  <input class="btn btn-default btn-warning " type="submit" value="GET THE RESULT">
      </div>
         <div class="col-xs-12 col-lg-4"></div>
        </div> 
    </form>
   
</div>



{%endblock%}