{%extends "header.html"%}

{%block body%}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    	{%if message=="NOT SOLVABLE, PLEASE CHECK YOUR INPUT!"%}
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12 col-lg-12">
     			 <div class="alert alert-warning" role="alert">{{message}}</div>
     		</div>
     	</div>
     </div>
     	{%else%}
      <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12 col-lg-12">
     			 <div class="alert alert-success" role="alert">{{message}}</div>
     		</div>
     	</div>
     </div>
     {%endif%}
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="container-fluid">
	<div class="row">
     	<div class="col-xs-12 col-lg-4"></div>
     	<div class="col-xs-12 col-lg-4">
			<table >
				  <caption>solution:</caption>
				  <colgroup><col><col><col>
				  <colgroup><col><col><col>
				  <colgroup><col><col><col>

				<tbody>
					{%for i in lst%}
					<tr>
						{%for j in i%}
							
				   			<td >{{j}}</td> 

						{%endfor%}
						
					{%endfor%}


			</table>
		</div>
		<div class="col-xs-12 col-lg-4"></div>
	</div>
	<div class="row outbut">
	  <div class="col-xs-12 col-lg-4"></div>
	  <div class="col-xs-12 col-lg-4">
	 	  <a class="btn btn-success btn-lg " href="/output/" role="button">GO BACK TO SUDOKU SOLVER</a>
	  </div>
	  <div class="col-xs-12 col-lg-4"></div>
	</div>


</div>




{%endblock%}